<% include ../partials/header %>
<div class="container">
    <div class="row">
        
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= course.image %>">
                <div class="caption-full">
                    
                    <h4><a><%=course.name%></a></h4>
                    <p><%= course.description %></p>
                    <p>
                        <em>Submitted By <%= course.author.username %></em>
                    </p>
                    <% if(currentUser && course.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-xs btn-warning" href="/courses/<%= course._id %>/edit">Edit</a>
                        <form id="delete-form" action="/courses/<%= course._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                    <% }%>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/courses/<%= course._id %>/topics/new">Add New Topic</a>
                </div>
                <hr>
                <% course.topics.forEach(function(topic){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= topic.author.username %></strong>
                            <span class="pull-right">10 days ago</span>
                            <p>
                                <%= topic.text %> 
                            </p>
                            <p>
                                <a href="/courses/<%= course._id %>/topics/<%=topic._id %>" class="btn btn-primary">More Info</a>
                            </p>
                        <% if(currentUser && topic.author.id.equals(currentUser._id)){ %>
                            <a class="btn btn-xs btn-warning" 
                               href="/courses/<%=course._id %>/topics/<%=topic._id %>/edit">Edit</a>
                            <form id="delete-form" action="/courses/<%=course._id %>/topics/<%=topic._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                            </form>
                        <% } %>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>

