<% include ../partials/header %>
<div class="container">
    <div class="row">
        
        <div class="row-md-9">
            <div class="thumbnail">
                <div class="caption-full">
                    <p>
                        <em><%= question.author.username %> has asked: </em>
                    </p>
                    <h4><a><%=question.name%></a></h4>
                    <p style="white-space: pre-wrap" ><%= question.description %></p>
                    <code style="white-space: pre-wrap" ><%= question.code %></code>
                    
                    <% if(currentUser && question.author.id.equals(currentUser._id)){ %>
                        <a href="/questions/<%= question._id %>/edit"><i class="fa fa-pencil" aria-hidden="true"></i> Edit Post</a>
                        <form id="delete-form" action="/questions/<%= question._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                    <% }%>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a  href="/questions/<%= question._id %>/replies/new"><i class="fa fa-reply" aria-hidden="true"></i> Reply</a>
                </div>
                <hr>
                <% question.replies.forEach(function(reply){ %>
                    <div class="col">
                        <div class="col-md-12">
                            <strong><%= reply.author.username %></strong>
                            
                            <p style="white-space: pre-wrap" ><%= reply.text %></p>
                            <code style="white-space: pre-wrap"><%= reply.code %></code>
                            


                        <% if(currentUser && reply.author.id.equals(currentUser._id)){ %>
                            <a 
                               href="/questions/<%=question._id %>/replies/<%=reply._id %>/edit"><i class="fa fa-pencil" aria-hidden="true"></i> Edit Reply</a>
                            <form id="delete-form" action="/questions/<%=question._id %>/replies/<%=reply._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                            </form>
                        <% } %>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>

